mat-sidenav-content {
  // display: flex;
  align-items: stretch;
  flex-grow: 1;
  overflow: hidden;
}
// .mat-drawer-container {
// background-color: white;
// }
.fas {
  align-self: center;
  justify-self: center;
  text-align: center;
  width: 100%;
  font-size: larger;
}
.active {
  font-weight: bolder;
  color: #673ab7;
  // .back {
  // display: inline-block;
  // }
}
.back {
  display: none;

  margin-left: -12px;
}
