<mat-sidenav-container fxFlexFill>
  <mat-sidenav #nav [mode]="'side'" [opened]="user.is">
    <!-- <mat-toolbar>
      <button mat-icon-button (click)="nav.toggle()">
        <mat-icon>chevron_left</mat-icon>
      </button>
    </mat-toolbar> -->
    <mat-action-list>
      <mat-list-item routerLinkActive="active" routerLink="/user/vectors" matTooltip="Vectors">
        <mat-icon mat-list-icon>note</mat-icon>
      </mat-list-item>
      <mat-list-item [matMenuTriggerFor]="sessionMenu">
        <mat-icon mat-list-icon>person</mat-icon>
      </mat-list-item>
      <mat-list-item (click)="bugReport()">
        <mat-icon mat-list-icon>bug_report</mat-icon>
      </mat-list-item>
      <mat-menu #sessionMenu>
        <button mat-menu-item (click)="logout()">Log Out</button>
      </mat-menu>
    </mat-action-list>
    <!-- <ng-template #pubMenu>
      <mat-action-list>
        <mat-list-item routerLink="/login">Log In</mat-list-item>
      </mat-action-list>
    </ng-template> -->
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
