<mat-toolbar>
  <a mat-icon-button color="accent" [routerLink]="['/']">
    <mat-icon>chevron_left</mat-icon>
  </a>
  <h1>Settings</h1>
  <!-- <button mat-button color="primary" (click)="save()">Save Settings</button> -->
</mat-toolbar>
<mat-tab-group fxFlexFill>
  <!-- <mat-tab>
    <ng-container [formGroup]="settingsForm">
      <mat-checkbox formControlName="enableWebRTC">WebRTC</mat-checkbox>
      <mat-hint
        >WebRTC allows ouronote to connect directly to other machines running
        the application in a peer-to-peer network. This is generally much faster
        than connecting solely to the server. Disabling WebRTC may help diagnose
        synchonization and performance issues within ouronote. It is recommended
        you leave WebRTC enabled for normal use.</mat-hint
      >
      <mat-checkbox formControlName="enableRadisk">Radisk</mat-checkbox>
      <mat-hint
        >When enabled, ouronote will use your browser's IndexedDB feature to
        save your data instead of LocalStorage. IndexedDB offers increased
        storage limits and is more performant than LocalStorage. This setting is
        made available for debugging purposes only. It is recommended you leave
        Radisk enabled for normal use.</mat-hint
      >
    </ng-container>
  </mat-tab> -->
  <ng-container #Settings="gunChain" [gunChain]="settingsGun">
    <mat-tab>
      <ng-template matTabLabel>General</ng-template>
      <button
        mat-button
        class="mat-warn"
        (click)="onResetSuppressedWarningsClick()"
      >
        Reset Suppressed Warnings
      </button>
    </mat-tab>
    <!-- <mat-tab fxFlexFill *ngFor="let catKV of testFormGroup.controls | keyvalue"> -->
    <mat-tab *ngFor="let catKey of ['gun', 'log', 'diagnostics', 'debug']">
      <ng-template matTabLabel>{{ catKey | uppercase }}</ng-template>

      <router-outlet></router-outlet>
      <mat-card fxFlex>
        <ng-container
          #CatGun="gunGet"
          [formGroup]="testFormGroup.controls[catKey]"
          [gunGet]="catKey"
        >
          <ng-container
            *ngFor="
              let settingKV of testFormGroup.controls[catKey].controls
                | keyvalue
            "
          >
            <ng-container #SettingGun="gunGet" [gunGet]="settingKV.key">
              <ng-container [ngSwitch]="settingKV.value.meta.type">
                <div style="min-height: 4em" *ngSwitchCase="'boolean'">
                  <mat-checkbox
                    [matTooltip]="settingKV.value.meta.description"
                    [formControlName]="settingKV.key"
                    >{{ settingKV.key | unCamel }}</mat-checkbox
                  >
                </div>

                <ng-container *ngSwitchCase="'set'"></ng-container>

                <div *ngSwitchCase="'enum'">
                  <mat-form-field>
                    <mat-label>{{ settingKV.key | unCamel }}</mat-label>
                    <!-- <mat-hint>{{ settingKV.value.meta.defaultValue }}</mat-hint> -->
                    <mat-select
                      [matTooltip]="settingKV.value.meta.description"
                      [formControlName]="settingKV.key"
                    >
                      <mat-option
                        *ngFor="
                          let option of settingKV.value.meta.options | keyvalue
                        "
                        [value]="
                          settingKV.value.meta.indexType === 'string'
                            ? option.key
                            : (option.key | number)
                        "
                        >{{ option.value }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div>

                <div *ngSwitchDefault>
                  <mat-form-field>
                    <mat-label>{{ settingKV.key | unCamel }}</mat-label>
                    <mat-hint>{{ settingKV.value.meta.defaultValue }}</mat-hint>
                    <!-- {{ SettingGun.chain$ | open | async | json }} -->
                    <input
                      [placeholder]="settingKV.value.meta.defaultValue"
                      [matTooltip]="settingKV.value.meta.description || ''"
                      [type]="settingKV.value.meta.type"
                      matInput
                      [formControlName]="settingKV.key"
                    />
                  </mat-form-field>
                </div>
              </ng-container>
            </ng-container>
          </ng-container>
        </ng-container>
      </mat-card>
    </mat-tab>
  </ng-container>
  <!-- <section>
  <ng-container *ngIf="true" #Settings="gunChain" [gunChain]="settingsGun">
    <ng-container #Machine="gunGet" gunGet="log">
      <pre>{{ Machine.chain$ | open | async | json }}</pre>
      <ng-container #Gun="gunGet" gunGet="level">
        <pre>{{ Gun.chain$ | open | async | json }}</pre>
      </ng-container>
      <ng-container #Gun="gunGet" gunGet="outLevel">
        <pre>{{ Gun.chain$ | open | async | json }}</pre>
      </ng-container>
      Auto:
      <div
      *gunMapOf="
      Settings.chain$ | async;
      let chain = chain;
      let k = key;
      let s = $implicit
      "
      >
      [{{ k }}]
      <div
      *gunMapOf="chain; let sk = key; let sub = chain; let sv = $implicit"
      >
      {{ k }}.{{ sk }} {{ sv }}
    </div>
  </div>
</ng-container>
</ng-container>
</section> -->
</mat-tab-group>
