<mat-toolbar>
  <h1>Settings</h1>
  <button mat-button color="primary" (click)="save()">Save Settings</button>
  <a mat-button color="accent" [routerLink]="['/']">Back</a>
</mat-toolbar>
<section>
  <ng-container [formGroup]="settingsForm">
    <mat-checkbox formControlName="enableWebRTC">WebRTC</mat-checkbox>
    <mat-hint
      >WebRTC allows ouronote to connect directly to other machines running the
      application in a peer-to-peer network. This is generally much faster than
      connecting solely to the server. Disabling WebRTC may help diagnose
      synchonization and performance issues within ouronote. It is recommended
      you leave WebRTC enabled for normal use.</mat-hint
    >
    <mat-checkbox formControlName="enableRadisk">Radisk</mat-checkbox>
    <mat-hint
      >When enabled, ouronote will use your browser's IndexedDB feature to save
      your data instead of LocalStorage. IndexedDB offers increased storage
      limits and is more performant than LocalStorage. This setting is made
      available for debugging purposes only. It is recommended you leave Radisk
      enabled for normal use.</mat-hint
    >
  </ng-container>
</section>
<section #Settings="gunChain" [gunChain]="settingsGun">
  <div *ngFor="let catKV of testFormGroup.controls | keyvalue">
    <h4>{{ catKV.key }}</h4>
    <ng-container
      #CatGun="gunGet"
      [formGroup]="catKV.value"
      [gunGet]="catKV.key"
    >
      <div *ngFor="let settingKV of catKV.value.controls | keyvalue">
        <ng-container #SettingGun="gunGet" [gunGet]="settingKV.key">
          <div [ngSwitch]="settingKV.value.meta.type">
            <div *ngSwitchCase="'boolean'">
              <mat-checkbox [formControlName]="settingKV.key">{{
                settingKV.key
              }}</mat-checkbox>
            </div>
            <ng-container *ngSwitchCase="'set'"></ng-container>
            <div *ngSwitchDefault>
              <mat-form-field>
                <mat-label>{{ settingKV.key }}</mat-label>
                <mat-hint>{{ settingKV.value.meta.defaultValue }}</mat-hint>
                <!-- {{ SettingGun.chain$ | open | async | json }} -->
                <input
                  [type]="settingKV.value.meta.type"
                  matInput
                  [formControlName]="settingKV.key"
                />
              </mat-form-field>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
</section>
<!-- <section>
  <ng-container *ngIf="true" #Settings="gunChain" [gunChain]="settingsGun">
    <ng-container #Machine="gunGet" gunGet="log">
      <pre>{{ Machine.chain$ | open | async | json }}</pre>
      <ng-container #Gun="gunGet" gunGet="level">
        <pre>{{ Gun.chain$ | open | async | json }}</pre>
      </ng-container>
      <ng-container #Gun="gunGet" gunGet="outLevel">
        <pre>{{ Gun.chain$ | open | async | json }}</pre>
      </ng-container>
      Auto:
      <div
        *gunMapOf="
          Settings.chain$ | async;
          let chain = chain;
          let k = key;
          let s = $implicit
        "
      >
        [{{ k }}]
        <div
          *gunMapOf="chain; let sk = key; let sub = chain; let sv = $implicit"
        >
          {{ k }}.{{ sk }} {{ sv }}
        </div>
      </div>
    </ng-container>
  </ng-container>
</section> -->
