<div fxLayout="column">
  <h1>Ouronote</h1>
  <blockquote>version {{ version.version }}</blockquote>
  <p>
    Ouronote is a free, open-source, peer-to-peer real-time whiteboard
    application.
  </p>
  <h2>Support Me:</h2>
  <a mat-flat-button target="_blank" href="https://www.patreon.com/nsreed"
    >patreon</a
  >
  <a
    mat-flat-button
    target="_blank"
    href="https://www.paypal.com/paypalme/praetorlabs"
    >paypal</a
  >
  <h2>Contribute to Ouronote:</h2>
  <a
    mat-flat-button
    target="_blank"
    href="https://www.github.com/nsreed/ouronote"
    >github</a
  >
  <a
    mat-flat-button
    target="_blank"
    href="https://www.github.com/nsreed/ouronote/issues"
    >issues</a
  >
</div>
