/* You can add global styles to this file, and also import other style files */
body,
app-root {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
  height: 100vh;
  max-height: 100vh;
}
body > app-root {
  overflow-y: auto;
  background: rgb(107, 106, 122);
  background: linear-gradient(
    0deg,
    rgba(107, 106, 122, 0.6852941005503764) 0%,
    rgba(255, 255, 255, 0.3659663694579395) 6%,
    rgba(0, 212, 255, 0) 43%
  );
  // padding-bottom: 6%;
}
nav {
  display: flex;
  position: sticky;
  top: 0;
  gap: 1em;
  align-items: baseline;
  & > button {
    margin-left: auto;
  }
  background-color: rgb(53, 21, 42);
  color: white;
}
a {
  color: inherit;
  font-weight: bold;
}
.list {
  display: grid;
  column-gap: 0.25rem;
  align-items: baseline;
  a {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
.list,
nav,
form {
  padding: 1em;
}
button,
input[type="button"] {
  padding: 0.5em 0.75em;
  font-size: medium;
  line-height: 1.2rem;
  border: none;
  text-transform: uppercase;
  outline: inset 2px #ffeeee;
  background-image: linear-gradient(
    to bottom,
    rgba(243, 237, 237, 0.246),
    rgb(235, 227, 227)
  );

  &:hover {
    outline-color: #b0c0c099;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
header {
  font-size: large;
  line-height: 1.5rem;
}
form {
  display: flex;
  flex-direction: column;

  align-items: stretch;
  // flex: 1 1 auto;
  textarea {
    flex: 1 1 auto;
  }
}
router-outlet + * {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.row,
.column {
  display: flex;
  align-items: stretch;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}
.grow {
  flex-grow: 1;
}

.shrink {
  flex-shrink: 1;
}

.stretch-items {
  align-items: stretch;
}
