@use "@angular/material" as mat;
// Define a dark theme
@include mat.core();

$dark-primary: mat.define-palette(mat.$indigo-palette);
$dark-accent: mat.define-palette(mat.$teal-palette);
$dark-warn: mat.define-palette(mat.$red-palette);

$typos: mat.define-typography-config(
  $title: mat.define-typography-level(1em, 2rem, 400, $letter-spacing: 0.05rem),
  $headline:
    mat.define-typography-level(
      1.4em,
      $line-height: 1.5rem,
      $letter-spacing: -0.5rem
    ),
  $caption: mat.define-typography-level(0.6em, 0.6em, 300),
  $button: mat.define-typography-level(1em, 1, 500, $letter-spacing: 0.95rem),
  $input: mat.define-typography-level(1em, 1, 300),
);

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
      warn: $dark-warn,
    ),
    density: -3,
  )
);

$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
      tertiary: $dark-accent,
      warn: $dark-warn,
    ),
    density: -3,
  )
);

body {
  @include mat.all-component-themes($light-theme);
  @include mat.all-component-typographies($typos);
  // .mat-icon-button {
  //   width: 20px;
  //   height: 20px;
  // }
  .mat-drawer-content {
    position: unset;
  }
  .mat-icon[data-mat-icon-type="svg"] > svg g {
    stroke: currentColor;
    stroke-width: 50px;
  }
  .mat-icon {
    display: inline-block;
    position: unset;
    vertical-align: text-bottom;
    padding: auto;
    margin: auto;
  }
  [dense] {
    .mat-expansion-panel {
      .mat-expansion-panel-body {
        padding: 0 0.4rem 0.4rem;

        .mat-form-field {
          width: 100%;
          width: -webkit-fill-available;
        }
        .mat-divider {
          -webkit-margin-collapse: collapse;
          padding: 0.5rem -0.4rem;
        }
      }
    }
  }
}
