mat-card-title a {
  font-weight: inherit;
  text-decoration: inherit;
}

#TitleInput {
  font-family: inherit;
  font-weight: 500;
  margin-top: 0;
  padding-top: 0;
  border: none;
  min-width: unset;
  width: 100%;
  outline: solid 1px black;
}

#Title {
  max-height: 1.8em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
