:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  [matDialogContent] {
    h2 {
      user-select: none;
    }
    flex: 1 1 auto;
    flex-direction: column;
    overflow: auto;
    overflow-y: scroll;
  }
}
