:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  [matDialogContent] {
    h2 {
      user-select: none;
    }
    display: flex;
    align-items: stretch;
    flex: 1 1 auto;
    flex-direction: column;
    overflow: auto;
    overflow-y: scroll;
  }
}

textarea {
  min-height: 200px;
}
