<!-- <mat-radio-group [formControl]="control">
  <mat-radio-button [value]="null">NONE</mat-radio-button>
  <div *ngFor="let lkv of licenses|keyvalue">
    <mat-radio-button [value]="lkv.value">{{lkv.value.type}}</mat-radio-button>
    <a *ngIf="lkv.value.url" href="{{lkv.value.url}}" target="_blank" rel="noopener">{{lkv.value.name ||
      lkv.value.type}}</a>
  </div>
  <mat-radio-button [value]="'custom'">Custom...</mat-radio-button>
</mat-radio-group> -->

<mat-form-field>
  <mat-label>Select a License</mat-label>
  <mat-select [formControl]="control">
    <mat-option>NONE</mat-option>
    <mat-option value="custom">Custom...</mat-option>
    <mat-option *ngFor="let lkv of licenses | keyvalue" [value]="lkv.value">
      {{ lkv.value.type || lkv.value.name }}
    </mat-option>
  </mat-select>
</mat-form-field>

<ng-container *ngIf="control.value === 'custom'">
  <app-license-form [group]="customControl"></app-license-form>
</ng-container>
