div [mat-flat-button] {
  text-align: left;
}
.transparent {
  display: contents;
}
mat-card-title a {
  font-weight: inherit;
  text-decoration: inherit;
}
:host {
  max-height: 100vh;
  #VectorList {
    height: 100%;
    overflow-y: auto;
  }
}

// .odd {
//   & > * {
//     // background-color: lightgray;
//     // text-decoration: underline;
//     // font-weight: bolder;
//   }
// }
