<mat-toolbar>
  <h1 fxFlex="1 0 auto">Vectors</h1>
  <button mat-flat-button (click)="importVector()">Import...</button>
  <button mat-raised-button color="primary" (click)="create()">
    New Vector
  </button>
</mat-toolbar>

<div gdColumns="auto repeat(4, max-content)" appFileDnd class="dropzone">
  <ng-container *ngFor="let vector of vectors | async">
    <a mat-flat-button [routerLink]="['/user/vectors', vector | soul, 'edit']">
      <!-- <mat-icon>enhanced_encryption</mat-icon> -->
      {{ vector.title }}
    </a>
    <a mat-flat-button [routerLink]="['/user/vectors', vector | soul, 'edit']">{{ vector | updated | date }}</a>
    <button mat-icon-button matTooltip="Remove vector" (click)="remove(vector)">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Settings" [routerLink]="['/user/vectors', vector | soul, 'permissions']">
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Download" (click)="download(vector)">
      <mat-icon>file_download</mat-icon>
    </button>
  </ng-container>
</div>
