<mat-toolbar>
  <button mat-raised-button color="primary" (click)="create()">
    New Vector
  </button>
  <button mat-flat-button (click)="importVector()">Import...</button>
</mat-toolbar>
<!--
<table>
  <tr
    *ngFor="let vector of vectors | async; let i = index"
    [ngClass]="{ odd: i % 2 === 0 }"
  >
    <td>
      <a mat-button [routerLink]="['/user/vectors', vector | soul, 'edit']">
        <mat-icon>enhanced_encryption</mat-icon>
        {{ vector.title }}
      </a>
    </td>
    <td>{{ vector | updated | date }}</td>
    <td>
      <button
        mat-icon-button
        matTooltip="Remove vector"
        (click)="remove(vector)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </td>
    <td>
      <button
        mat-icon-button
        matTooltip="Settings"
        [routerLink]="['/user/vectors', vector | soul, 'permissions']"
      >
        <mat-icon>settings</mat-icon>
      </button>
    </td>
    <td>
      <button mat-icon-button matTooltip="Download" (click)="download(vector)">
        <mat-icon>file_download</mat-icon>
      </button>
    </td>
  </tr>
</table> -->
<!-- RESPONSIVE DESIGN -->
<div
  gdColumns.lt-sm="auto"
  gdColumns.lt-md="auto auto"
  gdColumns.md="auto auto auto"
  gdColumns.gt-md="auto auto auto auto"
  gdColumns.gt-lg="auto auto auto auto auto"
  gdGap="5px"
>
  <ng-container
    [gunChain]="vector"
    *ngFor="let vector of vectors | async; let i = index"
  >
    <app-vector-card></app-vector-card
  ></ng-container>
</div>

<div
  *ngIf="false"
  id="Vectors"
  gdColumns="auto repeat(4, max-content)"
  appFileDnd
  class="dropzone"
>
  <ng-container *ngFor="let vector of vectors | async; let i = index">
    <div class="transparent" [ngClass]="{ odd: i % 2 === 0 }">
      <a
        mat-flat-button
        [routerLink]="['/user/vectors', vector | soul, 'edit']"
      >
        <!-- <mat-icon>enhanced_encryption</mat-icon> -->
        {{ vector.title }}
      </a>
      <a
        mat-flat-button
        [routerLink]="['/user/vectors', vector | soul, 'edit']"
        >{{ vector | updated | date }}</a
      >
      <button
        mat-icon-button
        matTooltip="Remove vector"
        (click)="remove(vector)"
      >
        <mat-icon>delete</mat-icon>
      </button>
      <button
        mat-icon-button
        matTooltip="Settings"
        [routerLink]="['/user/vectors', vector | soul, 'permissions']"
      >
        <mat-icon>settings</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Download" (click)="download(vector)">
        <mat-icon>file_download</mat-icon>
      </button>
    </div>
  </ng-container>
</div>

<ng-container
  *ngIf="[null, undefined, 0, '0'].includes(count$ | async); else HasVectors"
>
  <button
    class="mat-display-1"
    mat-stroked-button
    color="primary"
    (click)="create()"
  >
    Create your first vector!
  </button>
</ng-container>
<ng-template #HasVectors> Showing {{ count$ | async }} vectors </ng-template>
