div [mat-flat-button] {
  text-align: left;
}
.transparent {
  display: contents;
}
mat-card-title a {
  font-weight: inherit;
  text-decoration: inherit;
}
:host {
  max-height: 100vh;
  #VectorList {
    overflow-y: auto;
    padding-bottom: 1em;
    grid-auto-rows: max-content;
  }
}
.card-container {
  overflow-x: hidden;
  overflow-y: visible;
  padding: 5px;
}
// .odd {
//   & > * {
//     // background-color: lightgray;
//     // text-decoration: underline;
//     // font-weight: bolder;
//   }
// }
