<header>
  <h1>ouronote</h1>
  <sub>A Free & Open Source Peer-to-Peer Multiplayer Whiteboard.</sub>
</header>
<sub>ouronote is in pre-alpha and will contain bugs.</sub>
<sub
  >ouronote will eventually support end-to-end encryption, but for now you
  should consider your drawings as potentially publicly viewable. Enjoy!
</sub>

<a mat-raised-button color="primary" routerLink="/login"
  >Log In or Create Account</a
>

<a mat-button (click)="about()"> <mat-icon>info</mat-icon> About ouronote </a>
<img
  height="100"
  id="HeaderImage"
  src="/assets/images/ouronote_header_1500x500.jpg"
/>
