:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

[mat-dialog-title] {
  display: flex;
  justify-content: space-between;
}
mat-tab-group {
  height: 100%;
}
.mat-tab-body-wrapper {
  height: 100%;
}
