:host {
  form {
    display: inline-flex;
    align-items: center;
  }

  max-height: 100vh;
  overflow: auto;

  button {
    margin-top: .5em;
  }
}
#HeaderImage {
  align-self: center;
}
h1 {
  text-align: center;
}
