<mat-progress-bar mode="indeterminate" *ngIf="submitted"></mat-progress-bar>
<h1>ouronote</h1>

<form [formGroup]="form">
  <div *ngIf="sessionService.workerState.sessions.length > 0" id="Sessions">
    Select an existing session:
    <app-session-selector
      [sessions]="sessionService.workerState.sessions"
      (sessionSelect)="onSessionSelect($event)"
    ></app-session-selector>
    <p>...or log in below</p>
    <mat-divider></mat-divider>
  </div>
  <mat-form-field>
    <input
      id="alias"
      name="alias"
      matInput
      formControlName="alias"
      placeholder="username"
    />
    <mat-label>username</mat-label>
    <mat-error *ngIf="form.controls.alias.errors?.aliasTaken"
      >Username has been taken</mat-error
    >
    <span matPrefix>@</span>
    <!-- <mat-hint>{{
      mode !== "create"
        ? "Type your username here."
        : "Usernames are publicly visible."
    }}</mat-hint> -->
  </mat-form-field>
  <mat-form-field>
    <input type="password" matInput formControlName="password" />
    <mat-label>password</mat-label>
  </mat-form-field>
  <mat-form-field *ngIf="mode === 'create'">
    <input type="password" matInput formControlName="password2" />
    <mat-label>confirm password</mat-label>
    <mat-error *ngIf="form.controls.password2.errors?.passwordMatch"
      >Passwords do not match</mat-error
    >
  </mat-form-field>

  <div
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayoutGap=".5em"
    class="mat-error"
    *ngIf="unsupportedBrowser"
  >
    <mat-icon>warning</mat-icon>
    <div>
      Caution: This is an unsupported browser.<br />You may be unable to view or
      edit your 'verses from this device.
    </div>
    <!-- <pre>{{ unsupportedBrowser | json }}</pre> -->
  </div>

  <ng-container *ngIf="mode === 'login'; else Create">
    <div fxLayout="row" fxLayoutAlign="center baseline" fxLayoutGap="1em">
      <button
        mat-raised-button
        color="primary"
        [disabled]="form.invalid || submitted"
        (click)="onLoginClick()"
      >
        Log In
      </button>
      or
      <button
        mat-button
        color="primary"
        [disabled]="submitted"
        (click)="mode = 'create'"
      >
        Create Account
      </button>
    </div>

    <mat-error *ngIf="!onLine">
      You are currently offline. You may not be able to log into accounts that
      you haven't used on this computer.
    </mat-error>
    <mat-error *ngIf="requiredFields">
      Username and password are required.
    </mat-error>
    <mat-error *ngIf="error">
      <p>Username or password not found.</p>
      <p>
        If you have created an account on another device, log in with that
        device first, then try again.
      </p></mat-error
    >
  </ng-container>

  <ng-template #Create>
    <mat-error *ngIf="form.errors"> Passwords do not match. </mat-error>
    <div fxLayout="row" fxLayoutAlign="center baseline" fxLayoutGap="1em">
      <button
        mat-raised-button
        color="primary"
        (click)="onCreateClick()"
        [disabled]="form.invalid || submitted"
      >
        Create & Sign In
      </button>
      <button mat-button (click)="mode = 'login'" [disabled]="submitted">
        Cancel
      </button>
    </div>
  </ng-template>
  <p></p>
  <div>
    <a mat-icon-button routerLink="/settings">
      <mat-icon>settings</mat-icon>
    </a>
    <a mat-icon-button (click)="about()">
      <mat-icon>info</mat-icon>
    </a>
  </div>
  <!-- <button mat-flat-button (click)="about()">About</button> -->
</form>
<img
  height="100"
  id="HeaderImage"
  src="/assets/images/ouronote_header_1500x500.jpg"
/>
