@use "@angular/material" as mat;

:host {
  display: contents;
}

.oro-tool-button,
button.oro-tool-button,
a.oro-tool-button {
  @include mat.elevation(1);
  &.mat-raised-button {
    @include mat.elevation(8);
  }
  &:hover {
    color: rgba(0, 0, 0, 0.8);
    @include mat.elevation(2);
  }
  &:active,
  &.active {
    color: black;
    background-image: linear-gradient(80dev rgba(0, 0, 0, 0.6));
    background-blend-mode: difference;
    box-shadow: inset 0 0 70px rgba(255, 166, 0, 0.459);
    background-color: rgba(255, 255, 255, 0.7);
  }
  padding: 0.5rem 0 0;
  margin: 0.3rem 0.2rem;

  &.mat-fab {
    position: relative;
    bottom: -50%;
    z-index: 90;
  }
}

.grouped {
  #ToolsContainer {
    &.vert {
      display: none;
    }
    &:not(.vert) {
      display: contents;
    }
  }

  .cdk-menu.cdk-menu-group {
    position: sticky;
    bottom: 0;
    display: inline-flex;
    flex-direction: column;
    .mat-fab {
      margin-bottom: 0.2rem;
      .mat-icon {
        vertical-align: middle;
      }
    }
  }

  .cdk-menu-trigger.active {
    transition: all 240ms ease-in-out;
    color: adjust-color(yellow, $alpha: -0.15);
    background-color: blueviolet;
    outline: lightblue 2px 2px;
    text-shadow: inset 0 0 1.5rem red;
    @include mat.elevation(5);
  }
  .category {
    @include mat.elevation(0);
    margin: -2em 2em 0;

    transition: all 70ms ease-in-out;

    box-shadow: inset 0 0 1rem transparent;
    &[disabled] {
      pointer-events: none;
    }

    &:hover:not(.cdk-menu-trigger.active) {
      transition: all 240ms ease-in-out;
      @include mat.elevation(3);
    }

    // &.cdk-menu-trigger.active {
    //   transition: box-shadow 700ms ease-out;
    //   box-shadow: inset 0 0 3rem red;
    // }
  }
}
