mat-form-field {
  overflow: hidden;
}
form {
  padding: 0;
}
.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0;
}
ngx-mat-color-toggle {
  font-size:x-large;
}
app-color-gradient {
  min-height: 150px;
  width: 100%;
  display: block;
}
:host {
  overflow: auto;
}
