<mat-list>
  <div mat-subheader>{{ selectedItems?.length || 0 }} item{{ selectedItems?.length === 1 ? '' : 's' }}</div>
  <button mat-flat-button (click)="onBringToFrontClick()">Bring to Front</button>
  <button mat-flat-button (click)="onSendToBackClick()">Send to Back</button>
  <button mat-flat-button (click)="onCloneClick()">Clone</button>
</mat-list>
<app-style-form [style]="selectedStyle" (styleChange)="onStyleChange($event)" (stylePropChange)="onStylePropChange($event)"></app-style-form>
