<nav>
  <h3>Messages</h3>
  <button (click)="onMessageClick()">New Message</button>
</nav>
<div id="Messages" class="list">
  <ng-container *ngFor="let message of inbox|async">
    <ng-container *ngIf="message && message._">
      <input type="checkbox">
      <a [routerLink]="['/user/messages/', message | soul]">{{message.text}}</a>
      <div>{{message|updated|date:"YYYY-MM-dd HH:mm:ss"}}</div>
      <div>
        <button [routerLink]="['/user/messages/', message | soul, 'edit']">Edit</button>
        <button (click)="onMessageRemove(message)">Remove</button>
      </div>
    </ng-container>
  </ng-container>
</div>
<router-outlet></router-outlet>
