<div gdColumns="auto auto" *ngIf="mode === 'edit'">
  <ng-container *ngFor="let kvp of (colors$|async)|keyvalue">
    <div>{{ kvp.value }}</div>
    <div [style]="{backgroundColor: kvp.value}">
      <button>S</button>
      <button>F</button>
    </div>
  </ng-container>
</div>
<div gdColumns="auto auto auto auto" *ngIf="mode === 'view'">
  <button title="Add" class="color-box" (click)="add(candidate)" *ngIf="candidate && !selected">+</button>
  <ng-container *ngFor="let color of (colors$|async)">
    <button [title]="color.value" [ngClass]="{
      selected: candidate && candidateHex === color.value
    }" class="color-box" [style]="{backgroundColor: color.value}" (click)="onColorClick(color.key, color.value)">&nbsp;</button>
  </ng-container>
</div>
<button mat-icon-button *ngIf="selected"><mat-icon>delete</mat-icon></button>
