
:host {
  // position: absolute;
  // width: 100%;
  #WorkspaceContainer {
    overflow: auto;
    height: 100%;
    width: 100%;

    canvas {
      // outline: solid 10px gray;
      touch-action: pinch-zoom;
      position: absolute;
      // height: 100vh;
    }
  }
  height: 100%;
  display: flex;
  flex-direction: column;
}
app-vector-preview {
  height: 100%;
  width: 100%;
}
