<mat-toolbar fxLayout="row" fxLayoutGap="1em">
  <span id="Title" fxFlex="1 0 auto">
    {{ (vector$ | async)?.title }} -
    <ng-container *ngFor="let owner of owner$ | async | keyvalue">
      @{{ owner.key | alias | async }}
    </ng-container>
  </span>
  <button mat-icon-button (click)="onCopyrightClick()">
    <mat-icon>copyright</mat-icon>
  </button>
  <a
    *ngIf="!editClicked"
    fxFlex="0 0 auto"
    mat-flat-button
    color="primary"
    (click)="editClicked = true"
    [routerLink]="['/user/vectors', vectorPub, 'edit']"
    #EditLink="matTooltip"
    [matTooltip]="
      (is$ | async)
        ? 'Go to the editor workspace'
        : 'You must log in to edit this vector'
    "
  >
    {{ (is$ | async) ? "Go to Editor" : "Log In to Edit" }}
  </a>
  <button mat-icon-button (click)="about()" *ngIf="!(is$ | async)">
    <mat-icon>info</mat-icon>
  </button> </mat-toolbar
><mat-progress-bar
  *ngIf="editClicked"
  mode="indeterminate"
  color="primary"
></mat-progress-bar>
<app-vector-preview [vector]="vectorNode$ | async"></app-vector-preview>
