<h1 mat-dialog-title>
  Create Vector
</h1>
<form fxFlex [formGroup]="form" mat-dialog-content>
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput formControlName="title">
  </mat-form-field>
  <button mat-icon-button (click)="randomizeName()">
    <i class="fas fa-dice"></i>
  </button>
  <span fxLayout="column">
    <app-license-selector [control]="form.controls.license" [customControl]="form.controls.customLicense">
    </app-license-selector>
  </span>
</form>
<mat-error *ngIf="error && !sumbitted">There was a problem creating the vector. If the issue persists, try logging out and back in.</mat-error>
<div fxFlexAlign="center end" mat-dialog-actions [formGroup]="form">
  <button mat-raised-button color="primary" [disabled]="sumbitted || !form.valid" (click)="create()">Create</button>
</div>
