

  :host {
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    #WorkspaceContainer {
      height: 100%;
      width: 100%;
      overflow: hidden;
      canvas {
        position: absolute;
      }
    }
  }
