<div gdColumns="max-content auto max-content max-content">
  <ng-container *ngFor="let r of requests || []">
    <button mat-icon-button (click)="info(r)">
      <mat-icon class="fas fa-key"></mat-icon>
    </button>
    <a
      mat-flat-button
      (click)="info(r)"
      class="username"
      [matTooltip]="(r | alias | async) + ' ' + r"
      >@{{ r | alias | async }}</a
    >
    <button mat-icon-button (click)="accept(r)">
      <mat-icon>check</mat-icon>
    </button>
    <button mat-icon-button (click)="reject(r)">
      <mat-icon>cancel</mat-icon>
    </button>
  </ng-container>
</div>

<span>Showing {{ (count$ | async) || 0 }} requests</span>
