<ng-keyboard-shortcuts [shortcuts]="shortcuts"></ng-keyboard-shortcuts>
<mat-sidenav-container [hasBackdrop]="false">
  <mat-sidenav #LeftSide mode="side" class="mat-elevation-z5">
    <div
      fxFlex="1 0 auto"
      fxLayout="column"
      fxLayoutAlign="stretch center"
      [style.width]="'240px'"
      [style.margin]="'0 1em'"
    >
      <button
        mat-icon-button
        (click)="toggleToolProperties()"
        [style.alignSelf]="'end'"
      >
        <mat-icon>chevron_left</mat-icon>
      </button>
      <mat-divider></mat-divider>

      <!-- <ng-container *cdkPortalOutlet="toolPickerPortal"></ng-container> -->
      <ng-container *cdkPortalOutlet="toolPropertiesPortal"></ng-container>
    </div>
  </mat-sidenav>
  <mat-sidenav #RightSide [opened]="false" position="end" mode="side">
    <mat-accordion
      multi
      dense
      displayMode="flat"
      *ngIf="paper.project && (canEdit$ | async)"
      fxFlex="0 1 12em"
      class="ui mat-elevation-z0"
    >
      <mat-expansion-panel expanded [hidden]="selectedItems.length === 0">
        <mat-expansion-panel-header>Selection</mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <ng-container
            *ngIf="
              selectedItems?.length === 1 &&
              selectedItems[0].className === 'PointText'
            "
          >
            <app-text-form
              [appObject]="selectedItems[0]"
              appObjectProperty="content"
              (propertyValueChange)="
                onContentValueChange(selectedItems[0], $event)
              "
              (blur$)="onContentBlur(selectedItems[0], $event)"
            ></app-text-form>
          </ng-container>
          <app-selected-items
            [selectedItems]="selectedItems"
          ></app-selected-items>
        </ng-template>
      </mat-expansion-panel>

      <mat-expansion-panel *ngIf="true">
        <mat-expansion-panel-header>Layers</mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <mat-action-list dense>
            <mat-list-item
              *ngFor="let layer of project?.layers"
              (click)="layer.activate()"
              [ngClass]="{ active: layer === project.activeLayer }"
            >
              {{ layer.toString() }}
              {{ layer === project.activeLayer ? "*" : "" }}
              {{ layer.children?.length }}
            </mat-list-item>
          </mat-action-list>
        </ng-template>
        <mat-action-row>
          <a mat-icon-button (click)="addLayer()">
            <mat-icon>add</mat-icon>
          </a>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav>

  <section
    id="NavContainer"
    fxLayout="column"
    fxLayoutAlign="center"
    style="overflow: hidden"
    fxFlexFill
  >
    <mat-toolbar fxHide.xs="true" class="ui" *ngIf="vectorNode$ | async">
      <mat-toolbar-row>
        <a mat-icon-button (click)="onOpenSidenavClick()"
          ><mat-icon>chevron_left</mat-icon></a
        >
        <ng-container *cdkPortalOutlet="titleBarPortal"></ng-container>
        <ng-container *cdkPortalOutlet="menusPortal"></ng-container>

        <button
          mat-icon-button
          (click)="onRightChevronClick($event, RightSide)"
        >
          <mat-icon>chevron_right</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>

    <div id="Bottom" fxFlex="1 1 auto" fxLayout="row" fxLayout.xs="column">
      <div
        id="ToolContainer"
        fxLayout.xs="row"
        fxLayout="column"
        fxFlex.xs="0 0 auto"
        #ToolContainer
        (mousewheel)="onToolContainerScroll($event, ToolContainer)"
      >
        <a
          mat-icon-button
          fxShow.xs="true"
          fxHide.gt-xs="true"
          (click)="onOpenSidenavClick()"
          ><mat-icon>chevron_left</mat-icon></a
        >
        <ng-container *cdkPortalOutlet="toolPickerPortal"></ng-container>
      </div>

      <div id="Midriff" fxFlex="0 0 272px" [fxHide]="!state.showToolProperties">
        <ng-container *cdkPortalOutlet="toolPropertiesPortal"></ng-container>
      </div>

      <div id="CanvasContainer" fxFlex="1 0 auto" appPaperScope>
        <!-- <canvas id="Background" appPaper></canvas> -->
        <canvas id="Workspace" appPaperEdit #paper="appPaperEdit"></canvas>
        <canvas
          id="Foreground"
          #paperForeground="paperMirror"
          [paperMirror]="paper"
        ></canvas>

        <div class="floating">
          <ng-container *ngIf="!paper.project">
            <h1>Loading...</h1>
          </ng-container>

          <ng-container *ngIf="paper && settings.debug">
            {{ paper.fps$ | async }} fps
            <!-- <span class="ui">project? {{ !!project }}</span> -->
            <span class="ui">
              <button mat-icon-button [mat-menu-trigger-for]="DebugMenu">
                <mat-icon>bug_report</mat-icon>
              </button>
              <mat-menu #DebugMenu>
                <button mat-menu-item (click)="onGenerateTestPatternClick()">
                  Generate Test Pattern
                </button>
              </mat-menu></span
            >
          </ng-container>
        </div>
      </div>
    </div>

    <mat-toolbar
      fxFlex="0 1 auto"
      fxHide.gt-xs="true"
      (press)="matBottomSheet.open(BottomSheet)"
    >
      <mat-toolbar-row>
        <button
          mat-icon-button
          (click)="onUndoClick()"
          [disabled]="paperDirective?.scope?.actions?.length === 0"
          title="undo"
          class="oro-action"
        >
          <mat-icon>undo</mat-icon>
        </button>
        <button
          mat-icon-button
          (click)="onInsertImageClick()"
          title="insert image"
          class="oro-action"
        >
          <mat-icon>photo_library</mat-icon>
        </button>

        <ng-container
          *cdkPortalOutlet="menusPortal"
          fxHide.gt-xs="true"
        ></ng-container>
      </mat-toolbar-row>
    </mat-toolbar>

    <ng-template #BottomSheet>
      <mat-card>
        <mat-card-title>Tool Properties</mat-card-title>
        <mat-card-content>
          <div *cdkPortalOutlet="toolPropertiesPortal"></div>
        </mat-card-content>
      </mat-card>
    </ng-template>
  </section>
</mat-sidenav-container>

<!-- #REGION_START TEMPLATES-->

<ng-template #Menus>
  <ng-container
    *ngIf="
      (vectorNode$ | async) && !((layersNode$ | async).userCertificate$ | async)
    "
  >
    <button
      color="primary"
      class="request"
      mat-raised-button
      (click)="requestAccess()"
      *ngIf="!(myRequest$ | async); else PendingApproval"
      matTooltip="Request permission to edit this vector."
    >
      <mat-icon>announcement</mat-icon>
      Request Access
    </button>
    <ng-template #PendingApproval>
      <button mat-flat-button disabled>
        <mat-icon>announcement</mat-icon>
        Pending Approval
      </button>
    </ng-template>
  </ng-container>

  <button mat-icon-button (click)="onCopyrightClick()">
    <mat-icon>copyright</mat-icon>
  </button>

  <button mat-icon-button [mat-menu-trigger-for]="ShareMenu">
    <mat-icon>share</mat-icon>
  </button>

  <mat-menu #ShareMenu>
    <app-qr-code [text]="href" matTooltip="Scan to edit"></app-qr-code>
    <button
      mat-menu-item
      (click)="copyViewLink()"
      matTooltip="Copy view link to clipboard"
    >
      Copy View Link
    </button>
    <button
      mat-menu-item
      (click)="copyEditLink()"
      matTooltip="Copy edit link to clipboard"
    >
      Copy Edit Link
    </button>
  </mat-menu>

  <button
    mat-icon-button
    (click)="onPeopleClick()"
    *ngIf="isOwner$ | async"
    #EditRequestsTooltip="matTooltip"
    [matTooltip]="
      (requestCount$ | async)
        ? 'There are ' + (requestCount$ | async) + ' edit requests'
        : null
    "
  >
    <mat-icon [matBadge]="(requestCount$ | async) || null" matBadgeColor="warn"
      >people</mat-icon
    >
  </button>

  <button mat-icon-button (click)="onFullscreenClick($event)">
    <mat-icon>fullscreen</mat-icon>
  </button>

  <a mat-icon-button [matMenuTriggerFor]="menuMore" color="primary">
    <mat-icon fxHide.portrait="true">more_horiz</mat-icon>
    <mat-icon fxHide.landscape="true">more_vert</mat-icon>
  </a>
  <mat-menu #menuMore>
    <button mat-menu-item (click)="favorite()">
      <mat-icon>favorite</mat-icon>
      Favorite
    </button>
    <button mat-menu-item (click)="download()">
      <mat-icon>file_download</mat-icon>
      Download JSON
    </button>
    <button mat-menu-item (click)="downloadImage()">
      <mat-icon>file_download</mat-icon>
      Download PNG
    </button>
  </mat-menu>
</ng-template>

<ng-template #TitleBar>
  <div fxFlex="1 1 auto" class="title">
    {{ (vector$ | async)?.title }} -
    <ng-container *ngFor="let owner of owner$ | async | keyvalue">
      @{{ owner.key | alias | async }}
    </ng-container>
  </div>
</ng-template>

<ng-template #ToolPicker>
  <app-tool-picker
    (toolDoubleClick)="onToolDoubleClick()"
    [paperDirective]="paperDirective"
    [activeTool]="activeTool"
    [tools]="paperDirective?.scope?.tools"
    [style]="{ zOrder: 1 }"
  >
  </app-tool-picker>
</ng-template>

<ng-template #ToolProperties>
  <app-tool-properties
    [activeTool]="activeTool"
    [paperEditDirective]="paperDirective"
  ></app-tool-properties>
</ng-template>
