:host {
  // position: absolute;
  // width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  max-height: 100vh;
  max-height: -webkit-fill-available;
  min-height: 100vh;
  min-height: -webkit-fill-available;

  mat-toolbar {
    width: 100%;
    z-index: 7;
    & > div.title {
      // max-width: calc(100vw - 46px);
      overflow: hidden;
      text-overflow: ellipsis;
    }
    & > button.request {
      margin-left: 1em;
    }
    &:nth-of-type(2) {
      mat-toolbar-row {
        display: flex;
        flex-wrap: wrap;
        overflow: visible;
        height: 18px;
        justify-content: space-around;
        margin-top: -14px;
        z-index: 1;
        & > * {
          z-index: 8;
        }
        .oro-action {
          margin-top: 14px;
          flex-grow: 0;
          flex-shrink: 0;
          align-self: stretch;
          justify-self: stretch;
        }
      }
    }
  }
}

#WorkspaceContainer {
  overflow: auto;
  max-height: 100vh;
  max-height: -webkit-fill-available;
  min-height: 100vh;
  min-height: -webkit-fill-available;

  canvas {
    // outline: solid 10px gray;
    touch-action: none;
    position: absolute;
    z-index: 0;

    // height: 100vh;
  }
  canvas#Foreground {
    opacity: 100%;
    pointer-events: none;
  }
}

#NavContainer {
  max-height: 100vh;
  max-height: -webkit-fill-available;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  & > *:not(mat-toolbar) {
    min-height: 0;
  }
}

.floating {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  .ui {
    pointer-events: visible;
  }
}

app-invite-requests {
  max-width: 220px;
}

mat-accordion {
  overflow-y: scroll;
  max-height: 100vh;
  max-height: -webkit-fill-available;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  align-self: stretch;

  &::-webkit-scrollbar {
    width: 0.5em;
    &:disabled {
      opacity: 0;
    }
  }
  &::-webkit-scrollbar-track {
    background: #fafafa;
    box-shadow: inset 0 0 3px whitesmoke;
    border-radius: 3px;
  }
  &::-webkit-scrollbar-thumb {
    background: #f1f1f1;
    box-shadow: inset 0 0 3px slategray;
    border-radius: 3px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #d1d1d1;
  }
  // &::-webkit-scrollbar-button {
  //   background: #f1f1f1;
  //   box-shadow: inset 0 0 2px slategray;
  //   border-radius: 3px;
  // }
  scrollbar-width: thin;
  scrollbar-color: slategray;

  mat-expansion-panel {
    flex-shrink: 0;
    .mat-expansion-panel-body {
      padding: 0 0.25em;
    }
  }
}

form {
  padding: 0;
  margin: 0;
}

app-qr-code {
  display: block;
  // width: 100%;
  // min-height: 50vh;
}

#ToolsContainer {
  justify-items: center;
  mat-divider {
    grid-column-start: span;
  }
}

.toolTip {
  user-select: none;
  pointer-events: none;
  &:hover {
    display: none;
  }
}
.tool {
  width: 100%;
  padding: 0.65em 0;
}

mat-list-item.active {
  white-space: nowrap;
  break-inside: avoid;
  overflow: hidden;
  text-overflow: ellipsis;
  outline: solid 3px #0000ff55;
}

// mat-button-toggle {
//   border-top: solid 1px rgba(0,0,0,.12);
// }

// p {
//   margin-top: -1em;
//   padding-top: 0;

//   margin-bottom: 0.5em;
//   padding-left: 1em;
//   padding-bottom: 0.15em;
// }
