<!-- <div>Output: {{(output.toolMove$|async)?.point | json}}</div> -->
<div class="row">
  <aside>
    <h3>Style</h3>
    <hr>
    <h3>Layers</h3>
    <button (click)="addLayer()">Add Layer</button>
    <div *ngFor="let layer of project?.layers">
      {{layer.toString()}}
      <!-- <div *ngFor="let item of layer.children">
        {{item.toString()}}
      </div> -->
    </div>
    <!-- <app-layer-list [layers]="project.layers"></app-layer-list> -->
  </aside>
  <canvas appPaper #paper="appPaper"></canvas>
  <!-- <canvas appPaper #output="appPaper"></canvas> -->

</div>
<!-- <div>Paper: {{(paper.toolMove$|async)?['point'] | json}}</div> -->
